*{ 
    margin-top: 0;
}
body{
    background-image: url("../images/t8.jpeg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin: 0; 
    padding-left: 3px;
    font-size: 24px;
 color: rgb(14, 13, 13);
} 
h1{
    font-size: 3em;
    font-style: italic;
    color: rgb(252, 247, 247); 
    text-shadow: rgb(7, 7, 7) 4px 4px 4px 4px; 
    text-align: center; 
    text-decoration: underline 3px black; 
    background-image: url("../images/t5.jpeg"); 
    padding-bottom: 20px; 
    padding-top: 20px;
} 
.text{
    padding-top: 20px;
}
.al{
    color: rgb(7, 7, 7);
    text-shadow: darkolivegreen 1px 1px;     
}   
.al:hover{
    color: white;
}
.card{
    border: 2px black solid; 
    margin-right: 1250px; 
    padding-bottom: 10px; 
    text-indent: 10px;
}


.tex{ 
    padding-top: 10px;
    display: flex;  
    padding-bottom: 20px;
} 
p{ 
   padding-left: 20px;
} 
h2{
    padding-top: 5px; 
    color: black;
} 
#btn:hover{
    color:darkgreen;
    transition: 0.3s ease-in-out;
    text-shadow: rgb(236, 27, 236); 
   
}
#btn{
    margin-left: 2em; 
    font-size: 1em; 
    margin-top: 0em; 
    color: goldenrod; 
    background-color: aquamarine;
} 
a{
    color: white; 
    padding-left: 5px;   
    
    text-decoration: none;
} 
a:hover{
    color:darkred;
}